@font-face {
    font-family: "Poppins";
    src: url("../Poppins-ExtraLight.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

nav{
    position: fixed;
    background-color: #1b1b1b;
    padding: 10px 0;
    z-index: 12;
    width: 100%;
}

nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav .menu .logo a{
    text-decoration: none;
    color: #f4f3f8;
    font-weight: bold;
    font-size: 35px;
}

.menu ul {
    display: inline-flex;
    list-style:none;
}


.menu ul li {
    display: inline-flex;
    list-style:none;
    margin-left: 7px;
}

.menu ul li:first-child{
    margin-left: 0;
}

.menu ul li a{
    text-decoration: none;
    color: #f4f3f8;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu ul li a:hover{
    background-color: #f4f3f8;
    color: #1b1b1b;
}

.img{
    background: url("img1.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    animation: changebackground 10s infinite;
}

.img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
background-color: rgba(0,0,0,0.4);
}

.center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.center .title{
    color: #f4f3f8;
    font-size: 55px;
    font-weight: 600;
}


.center .sub_title{
    color: #f4f3f8;
    font-size: 50px;
    font-weight: 600;
}

.center .btns{
    margin-top: 20px;

}


.center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid #f4f3f8;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.center .btns button:first-child{
    color: #f4f3f8;
    background: none;
}

.center .btns button:first-child:hover{
    color: #1b1b1b;
    background: #f4f3f8;
}
@keyframes changebackground {
    0%{
        background-image: url("img1.jpg");
    }
    33.33%
    {
        background-image: url("img2.jpg");
    }
    66.66%{
        background-image: url("img3.jpg");
    }
    100%{
        background-image: url("img4.jpg");
    }
}